<div id="Experience" class="Experience-container">
    <h1>Work Experience</h1>
    <p>I have played various roles in the fields of industrial engineering, always focusing on the analysis of information to solve complex problems.</p>
    
    <div class="Experience-3">
        <div class="Experience-description">
            <h1>MotiDigital - Process enginner Intern</h1>
            <h2>Jun 2019- Jun 2020</h2>  
            <ul>
                <li>I specialized in optimizing internal processes, implementing improvements based on problem detection using tools such as A3, 8D's, and PDCA.</li>
                <li>I developed procedure manuals in accordance with ISO standards requirements for all activities carried out within the company.</li>
                <li>I analyzed and eliminated activities that did not add value to the product.</li>
                <li>I prepared instructions for industrial machines, facilitating operator understanding.</li>
                <li>I designed and conducted quality control and management audits.</li>
                <li>I analyzed times to calculate capacities and conducted audits to verify compliance with internal transport units.</li>
                <li>I monitored and analyzed Key Performance Indicators (KPIs).</li>
            </ul>
        </div>
        <div class="Experience-img">
            <img src="/assets/images/Motidigital.jpg" alt="Descrpcion"> 
        </div>
    </div>
    <div class="Experience-2">
        <div class="Experience-img">
            <img src="/assets/images/Interplex.jpeg" alt="Descrpcion"> 
        </div>
        <div class="Experience-description">
            <h1>Interplex- Continous improvement Trainee</h1>
            <h2>Jun 2020- Jun 2021</h2>
            <ul>
                <li>Implementation of line certification using the IBS system, with a focus on process optimization.</li>
                <li>Utilization of Lean Tools including Visual Factory, Standard Work, 5S'S, Total Preventive Maintenance, Kaizen, and other Lean Manufacturing tools.</li>
                <li>Problem-solving strategies centered on data analysis to identify and eliminate waste.</li>
                <li>Monitoring and analysis of Overall Equipment Effectiveness (OEE) to improvements.</li>
                <li>Development of KAIZEN (SMED) events aimed at reducing tool change or set-up time.</li>
                <li>Creation of an interactive data-driven feeding system to visualize and analyze 5S's results, utilizing macros in Excel.</li>
            </ul>                       
        </div>
    </div>
    <div class="Experience-1">
        <div class="Experience-description">
            <h1>Continental - Industrial Engineer</h1>
            <h2>2021 - 2024     </h2>
            <ul>
                <li>Management and development of new projects.</li>
                <li>Monitoring KPIs for project goals.</li>
                <li>Administering capacity calculations using data analysis tools.</li>
                <li>Preparing instructions for operational efficiency.</li>
                <li>Conducting ESD audits for compliance and safety.</li>
                <li>Visualizing scenarios with SOS and OBCs.</li>
                <li>Executing release runs engineering changes.</li>
                <li>Analyzing Overall Equipment Effectiveness (OEE) for improvements.</li>
                <li>Creation of purchase orders for procurement optimization.</li>
                <li>Managing SAP AMP/NP1 for resource allocation.</li>
                <li>Layout optimization for workflow efficiency.</li>
                <li>Miscellaneous Handling and tariff classifications.</li>
                <li>Optimizing production processes improving micrologistics.</li>
            </ul>                       
        </div>
        <div class="Experience-img">
            <img src="/assets/images/Continental .PNG" alt="Descrpcion"> 
        </div>
    </div>
    <div class="Experience-1">
                <div class="Experience-img">
            <img src="/assets/images/Team Work.jfif" alt="Descrpcion"> 
        </div>
        
        <div class="Experience-description">
            <br>
            <br>
            <h1>Continental - Serial Life Manager (SLM)</h1>
            <h2>2024 - Present</h2>
            <ul>
                <li>Coordinate, implement and control ECR’s (Engineering changes).</li>
                <li>Control and implementation of PCNs / PTNs.</li>
                <li>Organization to attend the customer visits.</li>
                <li>Installation and management of a Local-Project-Team.</li>
                <li>OES coordination about programs close to Phase out .</li>
                <li>Achievement of project goals (KPI´S).</li>
                <li>Work approach in Quality</li>
                <li>Monitoring KPIs for project goals.</li>
            </ul>                       
        </div>
    </div>
    </div>