<div id="Experience" class="Experience-container">
    <h1>Work Experience</h1>
    <p>I've held various roles in the industrial engineering and data analysis fields, helping organizations optimize their operations and make data-driven decisions.</p>
    <div class="Experience-1">
        <div class="Experience-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <h2>2019 - Present</h2>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Experience-img">
            <img src="/assets/images/OIP.jfif" alt="Descrpcion"> 
        </div>
    </div>
    <div class="Experience-2">
        <div class="Experience-img">
            <img src="/assets/images/OIP.jfif" alt="Descrpcion"> 
        </div>
        <div class="Experience-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <h2>2019 - Present</h2>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
    </div>
    </div>