
.Projects-container {
    padding: 40px;
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
    background-color: #f3f4f6;
}

.Projects-container h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.Projects-container p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.5;
}

.Projects-1 ,.Projects-2, .Projects-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.Projects-description {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.Projects-description h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.Projects-description h2 {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

.Projects-description p {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5;
    color: #666;
}

.Projects-img {
    flex-basis: 50%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projects-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {

    .Projects-description, .Projects-img {
        flex-basis: 100%;
        padding: 10px;
    }

    .Projects-description h1 {
        font-size: 1.8em;
    }

    .Projects-description h2 {
        font-size: 1.3em;
    }

    .Projects-description p {
        font-size: 1em;
    }

    .Projects-img img {
        width: 100%;
        height: auto;
    }
}
