<div id="Projects" class="Projects-container">
    <h1>Projects</h1>
    <p>I've worked on a variety of data analysis and visualization projects for clients in different industries.</p>
    <div class="Projects-1">
        <div class="Projects-img">
            <img src="/assets/xxx.png" alt="Descrpcion"> 
        </div>
        <div class="Projects-description">
            <h1>Production Optimization Dashboard</h1>
            <p>Developed a custom dashboard to help a manufacturing client visualize and analyze their production data, leading to a 15% increase in efficiency.</p>
        </div>
    </div>
    </div>