<div id="Projects" class="Projects-container">
    <h1>Work Projects</h1>
    <p>I've held various roles in the industrial engineering and data analysis fields, helping organizations optimize their operations and make data-driven decisions.</p>
    <div class="Projects-1">
        <div class="Projects-description">
            <br>
            <br>
            <br>
            <h1>Department incidents - basic analysis</h1>
            <p>Developed in Excel with compilation of reports in a database generating the visualization of graphics through pivot tables.</p>
        </div>
        <div class="Projects-img">
            <img src="/assets/images/Capture.PNG" alt="Descrpcion"> 
        </div>
    </div>
    <div class="Projects-2">
        <div class="Projects-img">
            <img src="/assets/images/ProdcutInter.PNG" alt="Descrpcion"> 
        </div>
        <div class="Projects-description">
            <h1>Overall Equipment Effectiveness Monitor</h1>
            <p><b>Developed in Excel / Visual Basic:</b> This dashboard or tool is used to analyze the efficiency of machines, the performance of personnel in different shifts, and the quality results in production. The interface allows making data-driven decisions to improve productivity, reduce downtime, and minimize waste.</p>
        </div>
    </div>
    <div class="Projects-3">
        <div class="Projects-description">
            <br>
            <br>
            <h1>Statistical Process Control Charts</h1>
            <p><b>Developed in Excel/Visual Basic:</b> Statistical process control (SPC) dashboard used to monitor and maintain quality in a cold forging process. The charts monitor various dimensional characteristics of manufactured parts such as height, step, sphericity, and parallelism, ensuring that they remain within established limits.</p>
        </div>
        <div class="Projects-img">
            <img src="/assets/images/Captuxre.PNG" alt="Descrpcion"> 
        </div>
    </div>
    
    <div class="Projects-2">
        <div class="Projects-img">
            <img src="/assets/images/IDLETIME.PNG" alt="Descrpcion"> 
        </div>
        <div class="Projects-description">
            <br>
            <br>
            <h1>IDLE Time Monitor</h1>
            <p><b>Developed in Power BI- Excel Visual Basic- SAP - Microsoft Edge:</b> Dashboard that reflects the "IDLE Time Percentage" of different production lines and areas in the plant. This report is useful to understand the areas and production lines with the most inefficiencies or wasted time, which can help plan productivity improvements.</p>
        </div>
    </div>
    <div class="Projects-3">
        <div class="Projects-description">
            <br>
            <br>
            <br>
            <h1>IE Maestro</h1>
            <p><b>Developed in Excel/Visual Basic / SAP:</b>Transformer of information imported from SAP to be manipulated, cleaned and placed in official templates in a 100% automatic way.</p>
        </div>
        <div class="Projects-img">
            <img src="/assets/images/IEMaestro.PNG" alt="Descrpcion"> 
        </div>
    </div>   
    </div>