<div id="recog" class="Skills-container">
    <h1>Recognitions</h1>
    <p>"Each recognition reflects the power of teamwork"</p>
    <div class="Skills-1">
        <div class="Skills-1-description">
            <img src="/assets/images/Reconocimiento mensual.png" alt="Descrpcion"> 
        </div>
        <div class="Skills-1-description">
            <img src="/assets/images/Reconocimiento mensual (2).png" alt="Descrpcion"> 
        </div>
        <div class="Skills-1-description">
            <img src="/assets/images/Reconocimiento mensual (3).png" alt="Descrpcion"> 
        </div>
    </div>
</div>