<div id="Skills" class="Skills-container">
    <h1>Work Skills</h1>
    <p>"Investment in knowledge pays the highest interest" - Benjamin Franklin</p>
    <div class="Skills-1">
                <div class="Skills-1-description">
            <h1>Data Analysis & Visualization</h1>
            <p>Excel, Access, SQL & Power BI.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Technical Expertise</h1>
            <p>Proficient in a variety of software and programming languages, including Visual Basic Excel, Python, HTML, CSS.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Frameworks & Libraries</h1>
            <p>Angular, Selenium, MYSQL-connector, Pandas, Numpy & Matplotlib.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Communication</h1>
            <p>Excellent verbal and written communication skills, with the ability to present complex data in a clear and understandable way.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Problem-Solving</h1>
            <p>Adept at using critical thinking and analytical skills to identify and solve complex problems.</p>
        </div>
        <!-- <div class="Skills-1-description">
            <h1>Layout distribution</h1>
            <p>Experience in layout distribution using AutoCAD, creating and optimizing detailed designs to improve efficiency and workflow across a variety of facilities.</p>
        </div> -->
        <div class="Skills-1-description">
            <h1>4.0 Industry</h1>
            <p>Experience in process simulation with FlexSim and visual components, creating and optimizing detailed models, identifying bottlenecks and improving operational efficiency.</p>
        </div>
        <p><a href="/assets/images/CV ENG.pdf" target="_self">Curriculum Vitae</a></p>
        <img src="/assets/images/Yellow.png" alt="Descrpcion"> 
    </div>
</div>