<div id="Skills" class="Skills-container">
    <h1>Work Skills</h1>
    <p>I've held various roles in the industrial engineering and data analysis fields, helping organizations optimize their operations and make data-driven decisions.</p>
    <div class="Skills-1">
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Skills-1-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
    </div>
</div>