<!-- <router-outlet /> -->
<header>
    <nav>
        <a href="#"><b>Home</b></a>
        <a href="#">Experience</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    </header>
    <div class="main-container">
    <div class="main-description">
        <h1>David Lopez Chavez</h1>
        <h2>Industrial Enginner & Data Analyst</h2>
        <p>I'm an experienced industrial engineer with a passion for data analysis and visualization. I use my technical expertise to help organizations optimize their operations and make data-driven decisions.</p>
    </div>
    <div class="main-img">
        <img src="/assets/xxx.png" alt="Descrpcion"> 
    </div>
    </div>

    <div class="Experience-container">
    <h1>Work Experience</h1>
    <p>I've held various roles in the industrial engineering and data analysis fields, helping organizations optimize their operations and make data-driven decisions.</p>
    <div class="Experience-1">
        <div class="Experience-description">
            <h1>Data Analyst, ABC Manufacturing</h1>
            <h2>2019 - Present</h2>
            <p>Analyzed production data to identify inefficiencies and opportunities for improvement. Developed custom visualizations and dashboards to help the leadership team make data-driven decisions.</p>
        </div>
        <div class="Experience-img">
            <img src="/assets/xxx.png" alt="Descrpcion"> 
        </div>
    </div>
    </div>
    
    <div class="Skills-container">
    <h1>Skills</h1>
    <p>I have a diverse set of skills that allow me to tackle complex data analysis and optimization challenges.</p>
    <div class="Skills-1">
            <h1>Data Analysis</h1>
            <p>Proficient in data mining, statistical analysis, and visualization using tools like Python, SQL, and Tableau.</p>
    </div>    
    <div class="Skills-2">
        <h1>DataxAnalysis</h1>
        <p>xxxxxxxxx</p>
    </div> 
    <div class="Skills-3">
        <h1>DataxAnalysis</h1>
        <p>xxxxxxxxx</p>
    </div> 
    </div>
    
    <div class="Projects-container">
    <h1>Projects</h1>
    <p>I've worked on a variety of data analysis and visualization projects for clients in different industries.</p>
    <div class="Projects-1">
        <div class="Projects-img">
            <img src="/assets/xxx.png" alt="Descrpcion"> 
        </div>
        <div class="Projects-description">
            <h1>Production Optimization Dashboard</h1>
            <p>Developed a custom dashboard to help a manufacturing client visualize and analyze their production data, leading to a 15% increase in efficiency.</p>
        </div>

    </div>
    </div>