<header>
    <nav>
        <a href="#"><b>Home</b></a>
        <a href="#Experience">Experience</a>
        <a href="#recog">Recognitions</a>
        <a href="#Skills">Skills</a>
        <a href="#Projects">Projects</a>
        <a href="#Contact">Contact</a>
    </nav>
</header>
<br>
<br>
<br>
<router-outlet />
<app-main></app-main>
<br>
<br>
<app-experience></app-experience>
<br>
<br>
<app-recog></app-recog>
<br>
<br>
<app-skills></app-skills>
<br>
<br>
<app-projects></app-projects>
<br>
<br>
<app-contact></app-contact>



